
<div *ngIf="isDataAvailable">

  <form #editInventoryItemForm>

    <app-edit-image [images]="inventoryItem.images"></app-edit-image><br>
    

    <label for="titleEntry">Title: </label>
    <input type="text" name="titleEntry" id="titleEntry" [(ngModel)]="inventoryItem.title" placeholder="Title" class="form-control"/>

    <label for="descriptionEntry">Description: </label>
    <input type="text" name="descriptionEntry" id="descriptionEntry" [(ngModel)]="inventoryItem.description" placeholder="Description" class="form-control"/>


    <label for="keywordsEntry">Keywords (separated by spaces): </label>
    <input name="keywordsEntry" id="keywordsEntry" [(ngModel)]="inventoryItemKeywords" placeholder="Keywords (separated by spaces)" class="form-control"/>


    <button type="submit" id="saveChangesButton" class="btn btn-primary">Save Changes</button>

  </form>

</div>
