<form #inventoryItemForm>

  <app-upload-inventory-item-image #imageUploader
    [itemImage]="newInventoryItem.image"
    (imageSelected)="imageSelected($event)"
  >
  </app-upload-inventory-item-image>

  <br>
  <input type="text" name="title" id="title" [(ngModel)]="newInventoryItem.title" placeholder="Title" class="form-control"/>

  <input name="description" id="description" [(ngModel)]="newInventoryItem.description" placeholder="Description" class="form-control"/>

  <input name="keywords" id="keywords" [(ngModel)]="newInventoryItemKeywords" placeholder="Keywords (separated by spaces)" class="form-control"/>

  <button type="submit" class="btn btn-primary" (click)="create()">Create Item</button>

</form>
