<app-view-images [images]="images"></app-view-images>

<div class="editImageToolbar">

  <!--<button type="button" class="btn btn-primary" name="button">
    <span class="glyphicon glyphicon-plus"></span>
  </button>-->

    <!-- Add new image popover -->
    <popover-content #myPopover
        title="Add New Image"
        placement="right"
        [closeOnClickOutside]="true">

        <form>
          <div class="imageContainer">
            <img #imageElement class="imageElement" src="" alt="">
          </div>

          <input #imageUploader type="file" name="imageUploader" accept="image/*" (change)="imageSelected($event)">
          Image to upload: {{imageToUpload}}
          <button type="submit" class="btn btn-primary">Upload</button>
        </form>

    </popover-content>

    <button type="button" class="btn btn-primary" [popover]="myPopover">
      <span class="glyphicon glyphicon-plus"></span>
    </button>







  <button type="button" class="btn btn-primary" name="button">
    <span class="glyphicon glyphicon-trash"></span>
  </button>

</div>
