// general 
$gray: rgb(238, 238, 238);


// pertaining to inventory item overview
$inventoryItemsOverviewContainerEdgeSize: 90vw;
$inventoryItemsOverviewHeight: 22vw;
$thumbnailContainerEdgeSize: 18vw;
