// general
$gray: rgb(238, 238, 238);
$lighterGray: rgb(248, 248, 248);
$modalBlackBG: rgba(0, 0, 0, .70);
$viewContainerEdgeSize: 80vw;


// pertaining to inventory item overview
$inventoryItemsOverviewHeight: 22vw;
$thumbnailContainerEdgeSize: 18vw;

// pertaining to inventory item image
$inventoryItemImageMaxEdgeSize: $viewContainerEdgeSize - 15vw;
