@import "../../../../../utilities/variables.scss";

.popover-content{
  width:auto;
  height:auto;
}

.imageContainer{
  max-width: inherit;
  max-height: inherit;
  background-color: $gray;
  display: flex;
  justify-content: center;
}

.imageElement{
  max-width: inherit;
  max-height: inherit;
  object-fit: contain;
}
