@import "../../../../../utilities/variables.scss";

.popover.popover-content{
  background-color: red;
  width: 100vw;
}

.imageContainer{
  max-width: inherit;
  max-height: inherit;
  background-color: $gray;
  display: flex;
  justify-content: center;
}

.imageElement{
  max-width: inherit;
  max-height: inherit;
  object-fit: contain;
}
