<div class="parentImageViewer">

  <!-- View Image -->
  <!-- ===================================================================== -->
  <div class="viewImagesContainer">

    <button type="button"
      class="btn btn-primary previousImageButton"
      (click)="selectImageAtIndex(selectedImageIndex-1)">
        <span class="glyphicon glyphicon-menu-left"></span>
    </button>


    <!-- Image -->
    <button type="button" class="btn btn-default imageButton" (click)="toggleModal()" name="imageButton">
      <img #imageElement class="imageElement" [src]="images[selectedImageIndex].path" alt="">
    </button>

    <button type="button"
      class="btn btn-primary nextImageButton"
      (click)="selectImageAtIndex(selectedImageIndex+1)">
        <span class="glyphicon glyphicon-menu-right"></span>
    </button>

  </div>

  <div class="imageLabel">
    Image {{selectedImageIndex+1}}/{{images.length}}
  </div>
  <!-- ===================================================================== -->


  <!-- Modal -->
  <!-- ===================================================================== -->
  <div class="viewImagesModal" (click)="toggleModal()" [hidden]="!showModal">


    <!-- Image -->
    <div class="imageContainerModal">

      <button type="button"
        class="btn btn-primary previousImageButton"
        (click)="selectImageAtIndex(selectedImageIndex-1); $event.stopPropagation()">
          <span class="glyphicon glyphicon-menu-left"></span>
      </button>

      <!-- Image -->
      <button type="button" class="btn btn-default imageButtonModal"
        (click)="selectImageAtIndex(selectedImageIndex+1); $event.stopPropagation();"
        name="imageButtonModal">
        <img #imageElementModal class="imageElementModal" [src]="images[selectedImageIndex].path" alt="">
      </button>

      <button type="button"
        class="btn btn-primary nextImageButton"
        (click)="selectImageAtIndex(selectedImageIndex+1); $event.stopPropagation();">
          <span class="glyphicon glyphicon-menu-right"></span>
      </button>

    </div>

    <div class="imageLabelModal">
      Image {{selectedImageIndex+1}}/{{images.length}}
    </div>


  </div>
  <!-- ===================================================================== -->
</div>
