@import '../../utilities/variables.scss';


.parentImageViewer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: auto;
}

.viewImagesContainer{
  display: inline-flex;
  justify-content: flex-start;
  margin-left: 0px;
  width: auto;
  height: auto;
  flex-direction: row;
}

.viewImagesModal{
  width: 100vw;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;

  background-color: $modalBlackBG;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}


// Image
// =============================================================================
.imageButton{
  min-width: $inventoryItemImageMaxEdgeSize;
  max-width: $inventoryItemImageMaxEdgeSize;
  min-height: $inventoryItemImageMaxEdgeSize;
  max-height: $inventoryItemImageMaxEdgeSize;
  background-color: $gray;
  padding: 0px;
  border: 0px;
}

.imageElement{
  max-width: inherit;
  max-height: inherit;

  background-color: $gray;
  object-fit: contain;
}

// =============================================================================


// controller
// =============================================================================
.previousImageButton {
  height: inherit;
  float: left;
}

.nextImageButton {
  height: inherit;
  float: right;
}

.imageLabel{
  width: 100%;
  text-align:center;
}

// =============================================================================


// Modal
// =============================================================================
.imageContainerModal{
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.0);
  display: flex;

  vertical-align: middle;
  flex-direction: row;
  justify-content: center;
}

.imageButtonModal{
  max-width: 80vw;
  max-height: 90vh;
  width: auto;
  height: auto;

  padding: 0px;
  border: 0px;
}

.imageElementModal{
  max-width: inherit;
  max-height: inherit;

  object-fit: contain;
}


// =============================================================================
