@import '../../utilities/variables.scss';


.viewImagesContainer{
  min-width: $inventoryItemImageMaxEdgeSize;
  max-width: $inventoryItemImageMaxEdgeSize;
}


// =============================================================================

.imageContainer{
  min-width: $inventoryItemImageMaxEdgeSize;
  max-width: $inventoryItemImageMaxEdgeSize;
  min-height: $inventoryItemImageMaxEdgeSize;
  max-height: $inventoryItemImageMaxEdgeSize;
  background-color: $gray;
  display: flex;
  justify-content: center;
}

.imageButton{
  min-width: $inventoryItemImageMaxEdgeSize;
  max-width: $inventoryItemImageMaxEdgeSize;
  min-height: $inventoryItemImageMaxEdgeSize;
  max-height: $inventoryItemImageMaxEdgeSize;
  background-color: $gray;
  padding: 0px;
  border: 0px;
}

.imageElement{
  max-width: $inventoryItemImageMaxEdgeSize;
  max-height: $inventoryItemImageMaxEdgeSize;
  background-color: $gray;
  object-fit: contain;
}

// =============================================================================

// =============================================================================
.imageController{
  min-width: $inventoryItemImageMaxEdgeSize;
  max-width: $inventoryItemImageMaxEdgeSize;
  background-color:white;

  border-style: solid;
  border-color: $gray;
  border-width: thin;
}

.previousImageButton {
  height: 100%;
  float: left;
}

.nextImageButton {
  height: 100%;
  float: right;
}

.thumbnailsFlexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.thumbnailButton > img{
  background-color: $gray;
  max-width: $detailThumbnailMaxEdgeSize;
  max-height: $detailThumbnailMaxEdgeSize;
}

.thumbnailContainer .thumbnailButton{
  min-width: $detailThumbnailMaxEdgeSize;
  max-width: $detailThumbnailMaxEdgeSize;
  min-height: $detailThumbnailMaxEdgeSize;
  max-height: $detailThumbnailMaxEdgeSize;
  background-color: $gray;
}

.thumbnailContainer {
  max-width: $detailThumbnailMaxEdgeSize;
  max-height: $detailThumbnailMaxEdgeSize;
  margin: 3px;
}

.thumbnailButton {
  max-width: $detailThumbnailMaxEdgeSize;
  max-height: $detailThumbnailMaxEdgeSize;
  border-color: $gray;
  border-width: thin;
  object-fit: contain;
  padding: 0px;
  border: 0px;
}

.thumbnailButton.selected {
  border-color: black;
  border-width: thin;
}


// =============================================================================
