<div class="viewImagesContainer">

  <!-- Image -->
    <button type="button" class="btn btn-default imageContainer" name="button">
      <img #imageDisplay id="imageDisplay" [src]="images[selectedImageIndex].path" alt="">
    </button>

  <!-- Controller for selecting image -->
  <div class="imageController">


    <!-- Flexbox with image thumbnails -->
    <div class="thumbnailsFlexbox">

      <!-- Container for thumbnail -->
      <div class="thumbnailContainer" *ngFor="let image of images; let i = index;">
        <button type="button" class="thumbnailButton" [class.selected]="i === selectedImageIndex" name="imageButton" (click)="selectImageAtIndex(i)">
          <img src="{{images[selectedImageIndex].path}}" alt="">
        </button>
      </div>

    </div>


  </div>

</div>
