@import '../../utilities/variables.scss';


.inventoryItemsOverviewContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: center;

  min-width: $viewContainerEdgeSize;
  max-width: $viewContainerEdgeSize;
  margin-left: (100vw - $viewContainerEdgeSize)/2;
  margin-right: (100vw - $viewContainerEdgeSize)/2;
}

.inventoryItemOverview{
  // overview is not a square. width is same as thumbnail.
  // height is 22 vw
  min-width: $thumbnailContainerEdgeSize;
  max-width: $thumbnailContainerEdgeSize;
  min-height: $inventoryItemsOverviewHeight;
  max-height: $inventoryItemsOverviewHeight;

  margin: 10px;
  text-align: center;
}

.thumbnailContainer{
  // thumbnail is square
  min-width: $thumbnailContainerEdgeSize;
  max-width: $thumbnailContainerEdgeSize;
  min-height: $thumbnailContainerEdgeSize;
  max-height: $thumbnailContainerEdgeSize;

  background-color: $gray;
}
