
<div class="inventoryItemsOverviewContainer">

  <div *ngFor="let inventoryItem of inventoryItemsList" class="inventoryItemOverview">
    <div class="thumbnailContainer"></div>


    <!-- Add link, insert title or "Untitled" -->

    <a
      *ngIf="inventoryItem.title !== null && inventoryItem.title !== undefined && inventoryItem.title.length > 0; else showUntitledAnchor"
      [routerLink]="['/view-inventory-item', inventoryItem._id]">
        {{inventoryItem.title}}
    </a>
    <ng-template #showUntitledAnchor>
      <a [routerLink]="['/view-inventory-item', inventoryItem._id]">Untitled Item</a>
    </ng-template>


  </div>

</div>
