@import '../../../../utilities/variables.scss';


.inventoryItemDetail{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;


}


.itemTitle{
  text-align: center;
  width: 100%;
  margin-top: 2vw;
}


.attributesContainer{
  width: auto;
  height: auto;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vw;

}


.dateCreatedLabel, .descriptionParagraph, .keywordsDisplay {
  display: block;

}


.keywordsDisplay {
  padding-left: 0px;
}


.keywordListItem{
  display:inline;
  background-color:$gray;
  border-radius: 5px;
  margin: .3vw;
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

.editButton {
  float:right;
}
