

<div class="inventoryItemDetail" *ngIf="isDataAvailable">

  <h2
  *ngIf="inventoryItem.title !== null && inventoryItem.title !== undefined && inventoryItem.title.length > 0; else showUntitledAnchor"
  class="itemTitle">
      {{inventoryItem.title}}
  </h2>
  <ng-template #showUntitledAnchor>
    <h2 class="itemTitle"> Untitled Item </h2>
  </ng-template>

  <div class="imageContainer">No Image</div>

  <div class="attributesContainer">
    <!-- date, description, keywords -->
    <div class="dateCreatedLabel"><b>Created:</b> {{readableDateString}}</div>
    <p class="descriptionParagraph"><b>Description:</b> {{inventoryItem.description}}</p>


    <ul class="keywordsDisplay">
    <b>Relevant Keywords:</b>
      <li class="keywordListItem" *ngFor="let keyword of inventoryItem.keywords">
        {{"  "+keyword+"  "}}
      </li>
    </ul>

  </div>

</div>
